<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:zz159@georgetown.edu">Email</a></li>
	        		<li><a href="https://sabrinazhong.github.io/">GitHub</a></li>
				<li><a href="https://www.linkedin.com/in/zhiling-sabrina-zhong-47524211b/">LinkedIn</a></li>
				</ul>
			</footer>
		</body>
	</html>
