<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
	        		<li><a href="/cv">CV</a></li>
				<li><a href="/resume">Resume</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:sabrinazhongzl@gmail.com">Email</a></li>
	        		<li><a href="https://sabrinazhong.github.io/">GitHub</a></li>
				<li><a href="https://www.linkedin.com/in/zhiling-sabrina-zhong-47524211b/">LinkedIn</a></li>
				</ul>
			</footer>
		</body>
	</html>
