---
layout: default
---
<h1>{{ page.title }}</h1>
<p class="meta" margin: 200px 200px>{{ page.date | date_to_string }}</p>

<div class="post">
  {{ content }}
</div>

<div class='sidebar'>
	
	<p align=”center”><img src="photo.jpg" alt="Image" height="90" width="90" class="circular--square"></p>
	<h1> Sabrina Zhong </h1>
	<h5> Skills: Python, R, Praat, LaTeX </h5>
	<h5><img src="https://github.com/sabrinazhong/sabrinazhong.github.io/raw/master/email.png" width="13" align="left">   <a href="mailto:zz159@georgetown.edu">Email</a></h5>
	<h5><img src="https://github.com/sabrinazhong/sabrinazhong.github.io/raw/master/linkedin.png" width="13" align="left">   <a href="https://www.linkedin.com/in/zhiling-sabrina-zhong-47524211b/">LinkedIn</a></h5>
</div><!-- /.sidebar -->
